<section class="text-justify">
  <h2 class="text-center">О магазине</h2>
  <p>
    Это самый лучший интернет-магазин!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias aliquam architecto commodi consequuntur corporis
    deserunt doloremque dolorum ea enim error et ex, exercitationem fugit id incidunt ipsa itaque molestiae molestias
    necessitatibus nesciunt nihil numquam, officia quasi quibusdam quo recusandae reiciendis repudiandae rerum, sapiente
    soluta voluptates voluptatibus voluptatum. Distinctio magnam, nam. Ad amet asperiores dolore ea eos expedita
    explicabo, fugiat, fugit illo illum impedit laborum libero magnam mollitia nobis obcaecati porro quasi quo quod
    ratione, rerum sed similique sint soluta tempora veniam veritatis! Assumenda dignissimos earum laborum nam nemo non
    quidem! Ad alias amet eum facilis iure laboriosam sit veritatis.
  </p>
</section>
